:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    

}


html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    color: cyan;
    background-color: #0a0a0a;
    font-family: 'IBM Plex Serif', serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Activar desplazamiento suave */
}
.pantallaCompleta{
    height: 102vh; /* Ocupa el 100% de la altura de la pantalla */
    display: flex; /* Centra los elementos */
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: center; /* Centra verticalmente */
    color: cyan; /* Color del texto */
    
}
.title{
    margin-bottom: -20px; /* Reduce el espacio debajo del h3 */
    transform: translateX(-20px);
    text-align: center;
    font-size: 3rem;
    color:aqua;
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
}
.titleThre{
    margin-top: -10px;
    text-align: center;
    font-family: "IBM Plex Serif", serif;
    font-size: 8rem;
    color:aqua;
    font-weight: 400;
}
.titleTwo {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    margin-top: 100;
}
.contenedor{
    width: 70rem;
    margin: 0 auto ;
}
.navegacionPrincipal{
    background-color:rgb(58, 61, 61);
    padding: 0.8rem ;
    display: flex;
    justify-content: space-between;
}
.nav-bg{
    background-color:rgb(58, 61, 61) ;
    
}


.navegacionPrincipal a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    border-radius: 5px; /* Bordes redondeados */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animación */
   
}
.navegacionPrincipal a:hover {
    
    transform: scale(1.1); /* Aumenta el tamaño en un 20% */
}
.ibm-plex-serif-extralight {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
  }

  .logos {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaciado entre los logos */
    position: relative; /* Usa posición relativa */
    top: -4px; /* Sube las imágenes 10px */
    left: 210px;
}
.logos a img {
    width: 20px; /* Cambia este valor para hacer los logos más pequeños */
    height: auto; /* Mantén las proporciones originales de la imagen */
   
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación */
}
.logos a img:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el cursor */
    opacity: 20; /* Reduce ligeramente la opacidad */
}

