:root{
    --blanco:#ffffff;
    --oscuro:#212121;
}
html{
    font-size: 50%;
}
body{
    font-size: 15px;
    color: cyan;
    background-color: #0a0a0a;
    font-family: 'IBM Plex Serif', serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Activar desplazamiento suave */
}

.pantallaCompleta{
    height: 102vh; /* Ocupa el 100% de la altura de la pantalla */
    display: flex; /* Centra los elementos */
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: center; /* Centra verticalmente */
    color: cyan; /* Color del texto */
}

.title{
    margin-bottom: -20px; /* Reduce el espacio debajo del h3 */
    transform: translateX(-20px);
    text-align: center;
    font-size: 3rem;
    color:aqua;
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
}
.titleThre{
    margin-top: -10px;
    text-align: center;
    font-family: "IBM Plex Serif", serif;
    font-size: 8rem;
    color:aqua;
    font-weight: 400;
}
@media (max-width: 780px) {
    .title{
        font-size: 2rem;
    }
    .titleThre{
        font-size: 5rem;
    }
}

.titleTwo {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    margin-top: 100;
}
@media (max-width: 780px) {
    .titleTwo{
        font-size: 2rem;
    }
}
.contenedor{
    max-width: 70rem;
    margin: 0 auto ;
}

.nav-bg{
    background-color:rgb(58, 61, 61) ;
    
}
.navegacionPrincipal{
    background-color:rgb(58, 61, 61);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 780px) {
    .navegacionPrincipal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
}
.navegacionPrincipal a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    border-radius: 5px; /* Bordes redondeados */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animación */
   
}
.navegacionPrincipal a:hover {
    
    transform: scale(1.1); /* Aumenta el tamaño en un 20% */
    background-color: aqua;
    color: #212121;
}
.ibm-plex-serif-extralight {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
  }

.logos {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaciado entre los logos */
    position: relative; /* Usa posición relativa */
    top: 100px; /* Sube las imágenes 10px */
    left: 0px;
}
.logos a img {
    width: 20px; /* Cambia este valor para hacer los logos más pequeños */
    height: auto; /* Mantén las proporciones originales de la imagen */
   
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación */
}

.logos a img:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el cursor */
    opacity: .2; /* Reduce ligeramente la opacidad */
}
@media (max-width: 780px) {
    .logos {
        top: 150px;
        left: 0px; /* Centra los logos en pantallas más pequeñas */
        gap: 20px;
    }

    .logos a img {
        width: 35px; /* Ajusta el tamaño de los logos para pantallas medianas */
    }
}

@media (max-width: 780px) {
    body{
        size: 5px;
    }
}