:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    

}


html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    color: cyan;
    background-color: #0a0a0a;
}
.pantallaCompleta{
    height: 102vh; /* Ocupa el 100% de la altura de la pantalla */
    display: flex; /* Centra los elementos */
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: center; /* Centra verticalmente */
    color: cyan; /* Color del texto */
}
.title{
    margin-bottom: 0;
    transform: translateX(-85px);
    text-align: center;
    font-size: 3rem;
    color:aqua;
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
}
.titleThre{
    margin-top: 0;
    text-align: center;
    font-family: "IBM Plex Serif", serif;
    font-size: 8rem;
    color:aqua;
    font-weight: 400;
}
.titleTwo {
    text-align: center;
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
}
.contenedor{
    width: 70rem;
    margin: 0 auto ;
}
.navegacionPrincipal{
    background-color:rgb(58, 61, 61);
   
}
.nav-bg{
    background-color:rgb(58, 61, 61) ;
}

.navegacionPrincipal a{
    background-color:rgb(112, 189, 189) ;
    display: inline;
   
}